* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  border: 1px solid black;
  height: 15vh;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: lightblue;
  opacity: 0.8;
}

main {
  border: 1px solid black;
  height: 100vh;
  margin-top: 15vh;
}

footer {
  border: 1px solid black;
  height: 15vh;
}

p {
  text-align: center;
}

a:visited {
  color: blue;
}

a {
  text-decoration: none;
  color: black;
}

nav a {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 30px;
  transition: color 0.5s, background-color 0.5s;
}

nav a:hover {
  color: white;
  background-color: black;
}

main div.inactive-nav-dst {
  display: none;
}

main div.active-nav-dst {
  display: block;
}

main h1 {
  margin-top: 32px;
  text-align: center;
}

nav a.active-nav-link {
  border: 1px solid black;
}

nav a.inactive-nav-link {
  border: 1px solid transparent;
}

div#square {
  width: 100px;
  height: 100px;
  background-color: red;
  opacity: 0.7;
  position: relative;
}

div#infinite-progress-bar {
  animation-name: ipb;
  height: 5vh;
  width: 15vw;
  background-color: red;
  opacity: 0.7;
  border-radius: 15px;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

div#infinite-progress-bar.hidden {
  display: none;
}

div#infinite-progress-bar.visible {
  display: block;
}

div#progress-bar {
  animation-name: pb;
  height: 5vh;
  background-color: red;
  opacity: 0.7;
  border-radius: 15px;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes ipb {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 85vw;
  }
}

@keyframes pb {
  from {
    width: 0;
  }
  to {
    width: 100vw;
  }
}
