/* * {
    border: 1px solid blue;
}*/

html {
    font-size: 20px;
}

.header {
    color: rgba(200, 0, 0, 0.75);
    font-family: 'Playball', cursive;
}

#extra-header {
    background-color: yellow;
}

a {
    color: #00CC00;
}

p {
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
}

ul, ol {
    list-style: none;
}
